body{
  background-color: #444;
}
.container{
  border: #ccc 1px solid;
  width: 600px;
  padding: 20px;
  margin:0 auto;
  /*OR margin-left: auto;*/
  /*OR margin-left: auto;*/
}
.title{
  color: #fff;
  text-align: center;
  font-style: italic;
}
.main-nav{
  text-align: center;
  font-family: helvetica, sans-serif;
  margin-right: 40px;
}
.main-nav li{
  display: inline;
  border-right: #ccc 1px solid;
  padding-left: 10px;
  padding-right: 10px;
}
.main-nav li:last-child{
  border: none;
  /*pseudo class remove last child*/
}
.main-nav a{
  color: #00D590;
  text-decoration: none;
}
.white-text{
  color: #fff;
  font-family: helvetica, sans-serif;
  line-height: 40px;
}
.white-text h2{
  color: #ccc;
}
.divider{
  width: 100%;
  border: #ccc 1px solid;
  margin-top: 20px;
  margin-bottom: 20px;
}
p{
  line-height: 20px;
}
